<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Email Template</title>
</head>
<body>
    <p>
        Dear <strong><span th:text="${recipient}"></span></strong>
    </p>

    <p style="align:center">
        <img src="http://learningbycoding.com/img/logoexport2.png"/>
    </p>

    <p>
        You just uploaded a file to this site!
    </p>

    <p>
        Sincerely, webmaster.
    </p>


</body>
</html><span class="redactor-selection-marker" id="selection-marker-1" data-verified="redactor"></span>