<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>

<body>
    <form action="#" th:action="@{/}" th:object="${meme}" method="post">
        <!-- need this or id is zero every time and keep getting additional records when updating -->
        <input type="hidden" th:field="*{id}" />


        <div class="form-group">
            <label class="section-heading" for="title">Image URL</label>
            <input id="title" class="form-control" type="text" th:field="*{imageUrl}" autofocus/>
        </div>

        <div class="form-group">
            <label class="section-heading" for="width">Width</label>
            <input id="width" class="form-control" type="text" th:field="*{width}" autofocus/>
        </div>

        <div class="form-group">
            <label class="section-heading" for="height">Height</label>
            <input id="height" class="form-control" type="text" th:field="*{height}" autofocus/>
        </div>

        <div class="form-group">
            <label class="section-heading" for="border">Choose a border</label>
            <select id="border" class="form-control" name="selectedBorder">
                <option value="4px_solid_black">4px_solid_black</option>
                <option value="6px_solid_rgb:00390b60">semi transparent gray</option>
                <option value="2px_solid_green">2px_solid_green</option>
            </select>
        </div>

        <div class="form-group">
            <label class="section-heading" for="skill">Choose an artistic filter</label>
            <select id="skill" class="form-control" name="selectedFilter">
                <option th:value="'incognito'" th:text="'incognito'"></option>
                <option th:value="'red_rock'" th:text="'red_rock'"></option>
                <option th:value="'zorro'" th:text="'zorro'"></option>
                <option th:value="'eucalyptus'" th:text="'eucalyptus'"></option>
            </select>
        </div>

        <input class="btn btn-primary bold-input" type="submit" value="Submit"/>


    </form>
</body>
</html>